.main-footer {
  background-color: $secondary-color-2;
  color: white;
  @include breakpoint(small only) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.menu .footer-navigation__link {
  color: white;
  @include breakpoint(medium up) {
    align-items: center;
    display: flex;
    height: 90px;
  }
}

.copyright {
  @include breakpoint(medium up) {
    align-items: center;
    display: flex;
    height: 90px;
    justify-content: center;
  }
}

.copyright p {
  margin-bottom: 0;
}

.menu .footer-navigation__link {
  @include breakpoint(small only) {
    display: block;
    padding: 1rem 0;
    width: 100%;
  }
}

.footer-navigation__link:hover, .footer-navigation__link:active, .footer-navigation__link:focus {
  background-color: $secondary-color-3;
  color: white;
  @include breakpoint(small only) {
    background-color: transparent;
  }
}

.footer-navigation {
  @include breakpoint(small only) {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }
}

.footer-navigation .menu-item {
  border: 0;
  @include breakpoint(small only) {
    display: block;
    width: 100%;
  }
}
