.main-header {
  /*background: url("img/header_texture.png"), linear-gradient(-269deg, $tert-color 24%, #f9f8f2 47%);*/
  background-color: $tert-color;
  border-top: 5px solid $primary-color;
}

.main-logo {
  height: auto;
  margin: 1rem 0;
  max-width: 300px;
  width: 100%;
}
