/* Slider */

.rotating-image-wrapper {
  background-color: $secondary-color-2;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}


/* Slider Settings */

.slick-prev, .slick-next {
    @include center-vertical;
    height: 100px;
    width: 80px;
    background: transparent;
    z-index: 100;
    margin-top: 0px;
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: 10% 50%;
    font-size: 0px;
    @include breakpoint(medium up) {
      height: 200px;
      width: 180px;
    }
}

.slick-prev {
    left: 0;
    background-image: url('img/slide_arrow.svg');
    &:focus {
      outline:none;
      }
}

.slick-next {
    right: 0;
    background-image: url('img/slide_arrow.svg');
    transform: rotate(180deg);
    margin-top: -60px;
    &:focus {
      outline:none;
      }
      @include breakpoint(medium up) {
        margin-top: -100px;
      }
}

.slick-dots {

    background: transparent;
    margin: 10px 0;
    display: none !important;
    position: relative;
    height: 50px;
    width: 100px;
    z-index: 100;

    text-align: center;
    li {
        background: $white;
        height: 10px;
        width: 10px;
        border-radius: 100%;
        display: inline-block;
        margin-right: 5px;
        opacity: 0.5;
        @include transition-normal;
        font-size: 0px;
        padding: 5px;
        cursor: pointer;
    }
    .slick-active {
        opacity: 1;
    }

}


.slideshow {
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

.slideshow__slide-info--inner {
    @include breakpoint(small only) {
      margin-top: 2rem;
      margin-bottom: 4rem;
    }
}

.small--centered {
  @include breakpoint(small only) {
    clear: both;
    float: none;
    margin: 1rem auto;
  }
}

/* .slideshow:after {
  @include breakpoint(medium only) {
    background: url("img/white-swoosh.svg") center no-repeat;
    background-size: cover;
    bottom: -25px;
    content: "";
    display: block;
    height: 200px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}
*/

.slideshow__slide-info {
  background-color: $secondary-color-2;
  @include breakpoint(medium up) {
    background-color: transparent;
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    justify-content: flex-end;
    text-align: right;
    top: 0;
    width: 100%;
    align-items: center;
  }
}

.left-justify {
  @include breakpoint(medium up) {
    text-align: left;
  }
}

.right-justify {
  @include breakpoint(medium only) {
    padding-right: 5em;
  }
  @include breakpoint(medium up) {
    text-align: right;
  }
}

a.slideshow__slide-info-button {
  background-color: transparent;
  color: white;
  border-color: white;
  font-weight: bold;
  padding: 1rem 2rem;
}

a.slideshow__slide-info-button:hover, a.slideshow__slide-info-button:active, a.slideshow__slide-info-button:focus  {
  background-color: white;
  color: $body-font-color;
}


.slideshow__slide-info-header, .slideshow__slide-info-subheader, .slideshow__slide-info-text {
    color: white;
    text-shadow: 2px 2px 6px #0B222F;
}

.slideshow__slide-info-header {
  font-family: $font-family-serif;
  margin-bottom: 0;
  font-weight: bold;
    @include breakpoint(medium up) {
      font-size: 4.25rem;
    }
}

.slideshow__slide-info-text {
  font-size: 1.12rem;
  margin-bottom: 3rem;
}

.slideshow__slide-info-subheader {
  font-size: 1.15rem;
  font-style: italic;
  color: rgba(255,255,255,0.5);
}
