.main-navigation {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0 0 1rem 0;
  @include breakpoint(large up) {
    display: block;
  }
  @include breakpoint(medium up) {
    padding: 0;
  }
}

.title-bar--main {
  margin-bottom: 1rem;
  @include breakpoint(large up) {
    display: none;
  }
}



@include breakpoint(small only) {
  .is-drilldown-submenu {
    min-height: 92%;
  }
}

.main-navigation__link {
  color: $body-font-color;
  font-weight: 400;
  &:hover {
    background-color: #9e9a7b;
  }
  @include breakpoint(medium up) {
    height: 83px;
    line-height: 42px;
  }
}

.menu .main-navigation__link {
  line-height: 3.5;
}

.menu .is-submenu-item a {
  height: auto;
  line-height: 1;
}

.menu .is-submenu-item {
  border-right: 0;
}

.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a {
  padding-right: 2rem;
  right: 10px;
  font-weight: 400;
  &:hover {
    background-color: #9e9a7b;
  }
}

.menu-item-83 {
  background-color: $primary-color;
  a {
    color: white;
    font-weight: bold;
  }
  transition: .25s;
  &:hover {
    background-color: #3f9656 !important;
  }
}

.is-dropdown-submenu-item .main-navigation__link:hover {
  background-color: white;
}
