.section-welcome {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.welcome-header {
  margin-bottom: 2rem;
}

.section-what-we-do {
  background: url(img/forest2.jpg) no-repeat;
  background-position: -400px top;
  min-height: 400px;
  @include breakpoint(medium up) {
    background-position: top right;
    background-size: cover;
  }
}

.section-what-we-do .row {
  align-items: center;
  display: flex;
  min-height: 400px;
  height: 100%;
}

.what-we-do-header {
  color: white;
  margin-bottom: 1rem;
  font-size: 3.5rem;
  text-shadow: 0 0 5px #222222;

}

.what-we-do-text {
  color: white;
  font-size: 1.25rem;
  font-weight: 400;
  text-shadow: 0 0 5px #222222;
}

.section-what-we-do-individual {
  padding-top: 2rem;
}

.what-we-do-individual-header {
  font-family: $font-family-serif;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.what-we-do-individual-header-2 {
  font-family: $font-family-serif;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: white;
}

.what-we-do-text-2 {
  color: white;
  font-weight: 400;
}

.section-meet-team {
  background: url(img/event_fade_edit2.jpg) no-repeat;
  background-size: cover;
  margin-top: 0rem;
  min-height: 400px;
  padding-top: 3rem;
  padding-bottom: 4rem;
  position: relative;
  @include breakpoint(medium up) {
    margin-top: 0rem;
  }
}

.section-meet-team:before {
  @include breakpoint(medium up) {
  /*  background-image: url("img/blue-swoosh.svg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 2400px;
    top: -94px;
    height: 192px;
    position: absolute;
    width: 100%;
    content: '';
    z-index: -1; */
  }
}

.section-meet-team .row {
  align-items: center;
  display: flex;
  min-height: 400px;
  height: 100%;
}

.section-meet-team__header {
  color: $black;
  margin: 2rem auto 3rem auto;
  padding-bottom: 2rem;
  text-align: center;
  .primary-color-span {
    color: $primary-color;
  }
}

.section-meet-team__header:after {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  content: "";
  display: block;
  height: 1px;
  left: 25%;
  margin-top: 2rem;
  position: relative;
  width: 50%;
}

/* Featured List */

.featured-bio
{
    position: relative;
    z-index: 1;
    a {
      color: white;
    }
    &:hover
    {
        .featured-bio-text
        {
            margin-top: 0;
            p,
            em
            {
                opacity: 1;
            }
        }
        .featured-bio-container:before {
            z-index: 1;
        }
        img {
            transform: scale(1.05);
        }
    }
    img
    {
        position: relative;
        z-index: 0;
        transform: scale(1);
        border-radius: 100%;
        @include transition-normal;
    }
}

.featured-bio-container
{
    position: relative;
    z-index: 1;

    &:before
    {
        z-index: -1;

        display: block;

        width: 100%;
        height: 100%;

        transform: scale(1.05);
        opacity: .5;
        border-radius: 100%;
        background: $secondary-color;

        @include psuedo-element;
    }
}

.featured-bio-text
{
    z-index: 4;

    @include transition-fast;
    @include center-all;
    line-height: $base-font-size;
    margin-top: -10px;
    p {
        margin-bottom: $base-font-size/2;
         opacity: 0;
         font-size: $base-font-size/1.25;
         line-height: $base-font-size;
         font-weight: bold;
    }
    em
    {
        font-size: $base-font-size/1.25;
        line-height: $base-font-size;
        margin-bottom: 0;

        opacity: 0;

        @include transition-fast;
    }
}

h1.section-header--latest-news {
  margin-bottom: 2rem;
}

.section-latest-news {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.latest-blog-header {
  font-family: $font-family-serif;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.latest-news-header {
  font-family: $font-family-serif;
  font-size: 1.25rem;
  margin-top: 1rem;
  @include breakpoint(medium up) {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
}

.latest-news-img {
  display: block;
  height: auto;
  margin-bottom: 1rem;
  max-width: 400px;
  width: 100%;
}

.latest-blog-text {
  margin-bottom: 2rem;
}

.section-support-ministry {
  background: url(img/texture.png) no-repeat;
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.section-img {
  display: block;
  height: auto;
  margin: 1rem 0;
  max-width: 500px;
  width: 100%;
  @include breakpoint(medium up) {
    margin: 1rem auto;
  }
}

.section-header {
  margin-bottom: 1.5rem;
}

.button.section-button--hollow {
  border: 2px solid $secondary-color-2;
  color: $secondary-color-2;
  font-weight: bold;
  margin-top: 2rem;
  padding: 1rem 2.5rem;
  &:hover {
    border: 2px solid $primary-color;
    color: white;
    background-color: $primary-color;
  }
}

.artificial-center {
  @include breakpoint(large up) {
    margin-top: 4rem;
  }
}

.artificial-center-2 {
  @include breakpoint(large up) {
    margin-top: .7rem;
  }
}

.artificial-center-3 {
  @include breakpoint(large up) {
    margin: 4rem 0;
  }
}
