@mixin transition-fast
{
    transition: all .15s ease;
}

@mixin transition-normal
{
    transition: all .5s ease;
}

@mixin transition-slow
{
    transition: all 1s ease;
}

@mixin background-cover
{
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

@mixin psuedo-element
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
}

@mixin background-psuedo
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    opacity: .25;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

@mixin center-all
{
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
}

@mixin center-vertical
{
    position: absolute;
    top: 50%;

    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);

    -webkit-font-smoothing: antialiased;
}

@mixin center-horizontal
{
    position: absolute;
    left: 50%;

    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);

    -webkit-font-smoothing: antialiased;
}
