.alignleft, img.alignleft {
	margin-bottom: 1rem;
	@include breakpoint(medium up) {
		float: left;
		margin: 0 1rem 1rem 0;
	}
}
.alignright, img.alignright {
	margin-bottom: 1rem;
	@include breakpoint(medium up) {
		float: right;
		margin: 0 0 1rem 1rem;
	}
}
.aligncenter, img.aligncenter {

}
.alignnone, img.alignnone {
	float: none;
}

.size-full {
	height: auto;
	width: 100%;
}
